<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DatabaseName" value="myDbName"/>
    <add key="OutputPath" value="C:\temp\Mappings"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=myDbName;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
</configuration>